# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*.qmlc

# Python: compiled python files
*.pyc

# QtCreator

*.autosave
*~
*.orig

*.qmlproject.user
*.qmlproject.user*
.DS_Store

# packaging/checkinstall
*.tgz
*.deb
CMakeCache.txt
CMakeFiles
description-pak
doc-pak

.directory
core
*.qmlc

# compressed javascript?
*.jsc

.qtc_clangd/
.build/
doc/qdoc_wrapper.sh
drivedata-simulation-server
imports_shared/assets/translations/ar_MA.qm
imports_shared/assets/translations/cs_CZ.qm
imports_shared/assets/translations/de_DE.qm
imports_shared/assets/translations/en_GB.qm
imports_shared/assets/translations/en_US.qm
imports_shared/assets/translations/ja_JP.qm
imports_shared/assets/translations/ko_KR.qm
imports_shared/assets/translations/zh_CN.qm
imports_shared/shared/Connectivity/
imports_shared/shared/FileUtils/
imports_shared/shared/NeptuneWidgetGrid/
imports_shared/shared/Sizes/
imports_shared/shared/Style/
imports_shared/shared/com/
imports_shared/shared/controls/
lib/
/neptune-cluster-app/
/neptune-cluster-app
neptune-cluster/
neptune-companion-app
neptune3-ui
plugins/com.pelagicore.map/moc_predefs.h
plugins/controls/moc_predefs.h
plugins/eventslisteners/moc_predefs.h
plugins/fileutils/moc_predefs.h
plugins/sizes/moc_predefs.h
plugins/style/moc_predefs.h
plugins/systeminfo/moc_predefs.h
plugins/translation/moc_predefs.h
plugins/widgetgrid/moc_predefs.h
remotesettings-server
src/connectivity/connectivity/.stamp-ivigenerator
src/connectivity/connectivity/accesspoint.cpp
src/connectivity/connectivity/accesspoint.h
src/connectivity/connectivity/connectivity.pri
src/connectivity/connectivity/connectivityglobal.h
src/connectivity/connectivity/connectivitymodule.cpp
src/connectivity/connectivity/connectivitymodule.h
src/connectivity/connectivity/connectivitymodule_enum.qdocinc
src/connectivity/connectivity/connectivitymodulefactory.cpp
src/connectivity/connectivity/connectivitymodulefactory.h
src/connectivity/connectivity/moc_predefs.h
src/connectivity/connectivity/qml/
src/connectivity/connectivity/wifi.cpp
src/connectivity/connectivity/wifi.h
src/connectivity/connectivity/wifi_p.h
src/connectivity/connectivity/wifibackendinterface.cpp
src/connectivity/connectivity/wifibackendinterface.h
src/connectivity/connectivity_plugin/.stamp-ivigenerator
src/connectivity/connectivity_plugin/connectivity.pri
src/connectivity/connectivity_plugin/moc_predefs.h
src/connectivity/connectivity_plugin/plugin.cpp
src/connectivity/connectivity_plugin/plugins.qmltypes
src/connectivity/connectivity_plugin/qml/
src/connectivity/connectivity_plugin/qmldir
src/connectivity/wifi_simulation/.stamp-ivigenerator
src/connectivity/wifi_simulation/WiFiSimulation.qml
src/connectivity/wifi_simulation/connectivity.json
src/connectivity/wifi_simulation/connectivity.pri
src/connectivity/wifi_simulation/connectivity_simulation.qml
src/connectivity/wifi_simulation/connectivity_simulation.qrc
src/connectivity/wifi_simulation/connectivity_simulation_data.json
src/connectivity/wifi_simulation/connectivitysimulatorplugin.cpp
src/connectivity/wifi_simulation/connectivitysimulatorplugin.h
src/connectivity/wifi_simulation/moc_predefs.h
src/connectivity/wifi_simulation/qml/
src/connectivity/wifi_simulation/wifibackend.cpp
src/connectivity/wifi_simulation/wifibackend.h
src/drivedata/backend/.stamp-ivigenerator
src/drivedata/backend/drivedata.json
src/drivedata/backend/drivedata.pri
src/drivedata/backend/drivedataqtroplugin.cpp
src/drivedata/backend/drivedataqtroplugin.h
src/drivedata/backend/instrumentcluster.rep
src/drivedata/backend/instrumentclusterbackend.cpp
src/drivedata/backend/instrumentclusterbackend.h
src/drivedata/backend/moc_predefs.h
src/drivedata/backend/navigationstate.rep
src/drivedata/backend/navigationstatebackend.cpp
src/drivedata/backend/navigationstatebackend.h
src/drivedata/backend/rep_instrumentcluster_replica.h
src/drivedata/backend/rep_navigationstate_replica.h
src/drivedata/backend_simulation/.stamp-ivigenerator
src/drivedata/backend_simulation/InstrumentClusterSimulation.qml
src/drivedata/backend_simulation/NavigationStateSimulation.qml
src/drivedata/backend_simulation/drivedata.json
src/drivedata/backend_simulation/drivedata.pri
src/drivedata/backend_simulation/drivedata_simulation.qml
src/drivedata/backend_simulation/drivedata_simulation.qrc
src/drivedata/backend_simulation/drivedata_simulation_data.json
src/drivedata/backend_simulation/drivedatasimulatorplugin.cpp
src/drivedata/backend_simulation/drivedatasimulatorplugin.h
src/drivedata/backend_simulation/instrumentclusterbackend.cpp
src/drivedata/backend_simulation/instrumentclusterbackend.h
src/drivedata/backend_simulation/moc_predefs.h
src/drivedata/backend_simulation/navigationstatebackend.cpp
src/drivedata/backend_simulation/navigationstatebackend.h
src/drivedata/backend_simulation/qml/
src/drivedata/drivedata-simulation-server/.stamp-ivigenerator
src/drivedata/drivedata-simulation-server/InstrumentClusterSimulation.qml
src/drivedata/drivedata-simulation-server/NavigationStateSimulation.qml
src/drivedata/drivedata-simulation-server/core.cpp
src/drivedata/drivedata-simulation-server/core.h
src/drivedata/drivedata-simulation-server/drivedata.pri
src/drivedata/drivedata-simulation-server/drivedata_simulation.qml
src/drivedata/drivedata-simulation-server/drivedata_simulation.qrc
src/drivedata/drivedata-simulation-server/drivedata_simulation_data.json
src/drivedata/drivedata-simulation-server/instrumentcluster.rep
src/drivedata/drivedata-simulation-server/instrumentclusteradapter.cpp
src/drivedata/drivedata-simulation-server/instrumentclusteradapter.h
src/drivedata/drivedata-simulation-server/instrumentclusterbackend.cpp
src/drivedata/drivedata-simulation-server/instrumentclusterbackend.h
src/drivedata/drivedata-simulation-server/main.cpp
src/drivedata/drivedata-simulation-server/moc_predefs.h
src/drivedata/drivedata-simulation-server/navigationstate.rep
src/drivedata/drivedata-simulation-server/navigationstateadapter.cpp
src/drivedata/drivedata-simulation-server/navigationstateadapter.h
src/drivedata/drivedata-simulation-server/navigationstatebackend.cpp
src/drivedata/drivedata-simulation-server/navigationstatebackend.h
src/drivedata/drivedata-simulation-server/qml/
src/drivedata/drivedata-simulation-server/rep_instrumentcluster_source.h
src/drivedata/drivedata-simulation-server/rep_navigationstate_source.h
src/drivedata/frontend/.stamp-ivigenerator
src/drivedata/frontend/drivedata.pri
src/drivedata/frontend/drivedataglobal.h
src/drivedata/frontend/drivedatamodule.cpp
src/drivedata/frontend/drivedatamodule.h
src/drivedata/frontend/drivedatamodule_enum.qdocinc
src/drivedata/frontend/drivedatamodulefactory.cpp
src/drivedata/frontend/drivedatamodulefactory.h
src/drivedata/frontend/instrumentcluster.cpp
src/drivedata/frontend/instrumentcluster.h
src/drivedata/frontend/instrumentcluster_p.h
src/drivedata/frontend/instrumentclusterbackendinterface.cpp
src/drivedata/frontend/instrumentclusterbackendinterface.h
src/drivedata/frontend/moc_predefs.h
src/drivedata/frontend/navigationstate.cpp
src/drivedata/frontend/navigationstate.h
src/drivedata/frontend/navigationstate_p.h
src/drivedata/frontend/navigationstatebackendinterface.cpp
src/drivedata/frontend/navigationstatebackendinterface.h
src/drivedata/frontend/qml/
src/drivedata/qml_plugin/.stamp-ivigenerator
src/drivedata/qml_plugin/drivedata.pri
src/drivedata/qml_plugin/moc_predefs.h
src/drivedata/qml_plugin/plugin.cpp
src/drivedata/qml_plugin/plugins.qmltypes
src/drivedata/qml_plugin/qml/
src/drivedata/qml_plugin/qmldir
src/remotesettings/app/moc_predefs.h
src/remotesettings/backend/.stamp-ivigenerator
src/remotesettings/backend/connectionmonitoring.rep
src/remotesettings/backend/connectionmonitoringbackend.cpp
src/remotesettings/backend/connectionmonitoringbackend.h
src/remotesettings/backend/moc_predefs.h
src/remotesettings/backend/remotesettings.json
src/remotesettings/backend/remotesettings.pri
src/remotesettings/backend/remotesettingsqtroplugin.cpp
src/remotesettings/backend/remotesettingsqtroplugin.h
src/remotesettings/backend/rep_connectionmonitoring_replica.h
src/remotesettings/backend/rep_systemui_replica.h
src/remotesettings/backend/rep_uisettings_replica.h
src/remotesettings/backend/systemui.rep
src/remotesettings/backend/systemuibackend.cpp
src/remotesettings/backend/systemuibackend.h
src/remotesettings/backend/uisettings.rep
src/remotesettings/backend/uisettingsbackend.cpp
src/remotesettings/backend/uisettingsbackend.h
src/remotesettings/backend_simulation/.stamp-ivigenerator
src/remotesettings/backend_simulation/ConnectionMonitoringSimulation.qml
src/remotesettings/backend_simulation/SystemUISimulation.qml
src/remotesettings/backend_simulation/UISettingsSimulation.qml
src/remotesettings/backend_simulation/connectionmonitoringbackend.cpp
src/remotesettings/backend_simulation/connectionmonitoringbackend.h
src/remotesettings/backend_simulation/moc_predefs.h
src/remotesettings/backend_simulation/qml/
src/remotesettings/backend_simulation/remotesettings.json
src/remotesettings/backend_simulation/remotesettings.pri
src/remotesettings/backend_simulation/remotesettings_simulation.qml
src/remotesettings/backend_simulation/remotesettings_simulation.qrc
src/remotesettings/backend_simulation/remotesettings_simulation_data.json
src/remotesettings/backend_simulation/remotesettingssimulatorplugin.cpp
src/remotesettings/backend_simulation/remotesettingssimulatorplugin.h
src/remotesettings/backend_simulation/systemuibackend.cpp
src/remotesettings/backend_simulation/systemuibackend.h
src/remotesettings/backend_simulation/uisettingsbackend.cpp
src/remotesettings/backend_simulation/uisettingsbackend.h
src/remotesettings/frontend/.stamp-ivigenerator
src/remotesettings/frontend/connectionmonitoring.cpp
src/remotesettings/frontend/connectionmonitoring.h
src/remotesettings/frontend/connectionmonitoring_p.h
src/remotesettings/frontend/connectionmonitoringbackendinterface.cpp
src/remotesettings/frontend/connectionmonitoringbackendinterface.h
src/remotesettings/frontend/moc_predefs.h
src/remotesettings/frontend/qml/
src/remotesettings/frontend/remotesettings.pri
src/remotesettings/frontend/remotesettingsglobal.h
src/remotesettings/frontend/remotesettingsmodule.cpp
src/remotesettings/frontend/remotesettingsmodule.h
src/remotesettings/frontend/remotesettingsmodule_enum.qdocinc
src/remotesettings/frontend/remotesettingsmodulefactory.cpp
src/remotesettings/frontend/remotesettingsmodulefactory.h
src/remotesettings/frontend/systemui.cpp
src/remotesettings/frontend/systemui.h
src/remotesettings/frontend/systemui_p.h
src/remotesettings/frontend/systemuibackendinterface.cpp
src/remotesettings/frontend/systemuibackendinterface.h
src/remotesettings/frontend/uisettings.cpp
src/remotesettings/frontend/uisettings.h
src/remotesettings/frontend/uisettings_p.h
src/remotesettings/frontend/uisettingsbackendinterface.cpp
src/remotesettings/frontend/uisettingsbackendinterface.h
src/remotesettings/qml_plugin/.stamp-ivigenerator
src/remotesettings/qml_plugin/moc_predefs.h
src/remotesettings/qml_plugin/plugin.cpp
src/remotesettings/qml_plugin/plugins.qmltypes
src/remotesettings/qml_plugin/qml/
src/remotesettings/qml_plugin/qmldir
src/remotesettings/qml_plugin/remotesettings.pri
src/remotesettings/remotesettings-server/.stamp-ivigenerator
src/remotesettings/remotesettings-server/connectionmonitoring.rep
src/remotesettings/remotesettings-server/core.cpp
src/remotesettings/remotesettings-server/core.h
src/remotesettings/remotesettings-server/moc_predefs.h
src/remotesettings/remotesettings-server/remotesettings.pri
src/remotesettings/remotesettings-server/rep_connectionmonitoring_source.h
src/remotesettings/remotesettings-server/rep_systemui_source.h
src/remotesettings/remotesettings-server/rep_uisettings_source.h
src/remotesettings/remotesettings-server/systemui.rep
src/remotesettings/remotesettings-server/uisettings.rep
